﻿@model IEnumerable<TouristiqueBangladesh.Models.TouristSpot>
@{
    ViewBag.Title = "Home Page";
    int i = 0;
}

<h1 class="content-title">Tourist Places in Bangladesh</h1>
<div class="container-native">
    <div class="table-container">
        <i class="fas fa-search" style="color: #2c2f33;"></i>
        <input type="text" name="search" id="search" placeholder="Search Here..">
        @Html.ActionLink("Create New Place", "Create")
        <table class="content-table">
            <thead>
                <tr>
                    <th class="sortableColumn">
                        <span>@Html.DisplayNameFor(model => model.Name) </span>
                        <span class="sortIcon">
                            <i class="fas fa-sort-up" id="ascending-name"></i><i class="fas fa-sort-down" id="descending-name"></i>
                        </span>
                    </th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Address)</th>
                    <th class="sortableColumn">
                        <span>@Html.DisplayNameFor(model => model.Rating)</span>
                        <span class="sortIcon">
                            <i class="fas fa-sort-up" id="ascending-rating"></i><i class="fas fa-sort-down" id="descending-rating"></i>
                        </span>
                    </th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.ImagePath)</th>
                    <th style="text-align:center" colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@i">
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address) </td>
                        <td>@Html.DisplayFor(modelItem => item.Rating)/10</td>
                        <td>
                            <img src=@Html.DisplayFor(modelItem => item.ImagePath)>
                        </td>
                        <td><button class="btn updateBtn">Update</button></td>
                        <td><button class="btn deleteBtn">Delete</button></td>
                    </tr>
                }
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>
