﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TouristiqueBangladesh.Models.TouristSpot>
@{
    ViewBag.Title = "Home Page";
    int i = 0;
}

@section Styles {
    @Styles.Render("~/Content/myStyle.css")
}

@section Scripts {
    @Scripts.Render("https://kit.fontawesome.com/3bc4247b4f.js")
    @Scripts.Render("~/Scripts/main.js")
}

<h1 class="content-title">Tourist Places in Bangladesh</h1>
<div class="container-native">
    <div class="table-container">
        @using (Html.BeginForm("Index", "TouristSpot", routeValues: new { sortBy = Request.QueryString["sortBy"] }, method: FormMethod.Get))
        {
            <i class="fas fa-search" style="color: #2c2f33;"></i>
            @Html.TextBox("searchText", "", new { placeholder = "Search here..." })
            <input type="submit" value="Filter" class="Btn defaultBtn" />
        }
        <br />
        @Html.ActionLink("Create New Place", "Create", null, new { @class = "Btn addNewPlaceBtn" })
        @*<input type="text" name="search" id="search" placeholder="Search Here..">*@
        <table class="content-table">
            <thead>
                <tr>
                    <th class="sortableColumn">
                        @Html.ActionLink("Name", "Index", new { sortBy = ViewBag.SortNameParameter, searchText = Request["searchText"] })
                    </th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Address)</th>
                    <th class="sortableColumn">
                        @Html.ActionLink("Rating", "Index", new { sortBy = ViewBag.SortRatingParameter, searchText = Request["searchText"] })
                    </th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.ImagePath)</th>
                    <th style="text-align:center" colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@i">
                        <td>
                            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Address) </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)/5
                        </td>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.ImagePath)">
                        </td>
                        <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "Btn updateBtn" })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "Btn deleteBtn" })</td>
                    </tr>
                    i++;
                }
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>
