.container {
    flex-direction: column-reverse;
}

.addPlace-container {
    border-right: 0;
    border-top: 1px solid seagreen;
    padding: 34px 0;
}

.addBtn { 
    margin-left: 0;
}

#addNewPlace {
    display: flex !important;
    flex-direction: column ;
}
