@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Ubuntu&family=Ubuntu+Mono:wght@700&family=Varela+Round&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Section */
.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Baloo Bhai 2", cursive;
    font-size: 1.5rem;
    background-color: #36393d;
    color: white;
}

.navbar #appName {
    margin: 20px;
}

/* Table Section */
.container {
    font-family: "Varela Round", sans-serif;
    margin: auto;
    width: 90vw;
    display: flex;
    overflow: auto;
}

.content-title {
    color: #009879;
    text-align: center;
    margin-top: 20px;
}

.addPlace-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 34px;
    border-right: 1px solid seagreen;
    padding-right: 30px;
    flex-basis: 30%;
}

.addPlace-container input,
.addPlace-container div,
.addPlace-container h3,
.addPlace-container .buttons {
    margin-bottom: 12px;
}

.addPlace-container h3 {
    color: #2c2f33;
    margin-bottom: 40px;
    text-align: center;
}

.addPlace-container .field {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.addPlace-container .field label {
    margin-right: 12px;
    flex-basis: 65%;
}

.content-table {
    border-collapse: collapse;
    margin: 38px 0;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    font-weight: bold;
}

.content-table thead {
    position: sticky;
    top: 0;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-child(even) {
    background-color: #eceeed;
}

.content-table tbody tr:last-of-type {
    border-bottom: 1px solid #009879;
}

/* Image Styling */
tbody tr > td:nth-child(4) {
    width: 30%;
}

img {
    width: 100%;
    max-height: 200px;
}



/* Add Tourist Place Section */

.addPlace span {
    font-size: 1.1rem;
    display: inline-block;
    margin: 10px 20px 10px 0;
}

.message {
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-family: "Ubuntu Mono", monospace;
}

#errorMessage {
    padding: 0.75rem 1.25rem;
    margin: 1rem 0;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: 80%;
    font-family: "Ubuntu Mono", monospace;
}

/* Input Field Styling */
[type="text"] {
    padding: 5px 0 5px 11px;
    /* font-weight: bold; */
    font-size: 15px;
    height: 50px;
    width: 100%;
    border-radius: 4px;
}

[type="file"] {
    padding: 0;
    /* border: 1px solid red; */
}

/* Sort Icon Style */
.sortIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6px;
    cursor: pointer;
}

.sortableColumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* **************************** All Button Styling ****************************** */
/* Style All Types of Button */
.btn {
    color: white;
    padding: 7px 12px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

/* Update and Delete Button */
.updateBtn {
    height: 45px;
    background-color: #009879;
    font-size: 15px;
}

.updateBtn:hover {
    background-color: white;
    color: #009879;
    border: 1px solid #009879;
    padding: 6px 11px; /* substract padding 1 px as I increase the border by 1px */
}

.deleteBtn {
    height: 45px;
    font-size: 15px;
    background-color: #dc3545;
}

.deleteBtn:hover {
    background-color: white;
    color: #dc3545;
    border: 1px solid #dc3545;
    padding: 6px 11px; /* substract padding 1 px as I increase the border by 1px */
}

.addNewPlaceBtn {
    background-color: #17a2b8;
    color: white;
    padding: 7px 12px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 21px;
    height: 45px;
    font-size: 15px;
}

/* Save Update Button */
.saveUpdateBtn {
    color: #fff;
    background-color: #0069d9;
    height: 45px;
    font-size: 15px;
}

.saveUpdateBtn:hover {
    color: #0069d9;
    background-color: white;
    border: 1px solid #0069d9;
}

/* Cancel Update Button */
.cancelUpdateBtn {
    color: #212529;
    background-color: #ffc107;
    height: 45px;
    font-size: 15px;
}

.cancelUpdateBtn:hover {
    background-color: white;
    /* color: #dc3545; */
    border: 2px solid #ffc107;
    padding: 6px 11px; /* substract padding 1 px as I increase the border by 1px */
}


#ascending-name,
#descending-name,
#ascending-rating,
#descending-rating {
    line-height: 0.5;
}

/* Search Input Style */
#search {
    margin-top: 34px;
    width: 40%;
}

/* **************************** Range Slider Style ****************************** */
.slidecontainer{
    width: 100%;
}

.slidecontainer .rating{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
